$base-font: 'Open Sans', sans-serif;

$black: #000711;
$white: #fff;

$primary300: #377dE7;
$primary400: #1366e5;

$secondary400: #02E3B7;

$gray300: #E3E3E3;
$gray400: #d6d6d6;
$gray600: #b9b9b9;
$gray800: #202020;
